 /* @media screen and (min-width: 720){  */
    body{
        background-color: rgb(112, 128, 144, .6);
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h1{
        font-family: 'Nunito Sans',sans-serif;
        font-size: 100px;
        color: khaki;
        font-weight: bold;
        text-align: center;
        background-image:url(./Resources/Images/WaterFall.jpg),url(./Resources/Images/panting-bushes_orig.jpg),url(./Resources/Images/WaterFall2.JPG);
        background-position: bottom left, top center, bottom right;
        backGround-repeat: no-repeat;
        background-size: 400px, 1200px, 410px;
        clear: both;
        margin-top: 0px;
        
    }
    h2{
        text-align: center;
        font-size: 50px;
        font-family: 'Nunito Sans',sans-serif;

    }
    h3{
        padding-left: 40px;
        font-family: 'Nunito Sans',sans-serif;

    }

    video{
        padding-left: 10em;
        padding-top: 8em;
    }

    footer{
        clear: both;
        font-weight: 900;
        background-color: rgb(105, 105, 105, .8);
        padding-top: .5em;
        margin: 0em;
        padding-bottom:0em;
        padding-left: 0em;
    }
    pre{
        font-family: 'Faustina', serif;
        float: left; clear: left;
        font-size: 20px;
        text-align: left;
        padding-left: 10em;
        max-width: 800px;
    }
    .button{
        border: 4px solid #e3dddc;
        background-color: #a6a09f;
        height: 40px;
        width: 100px;
        align-items: center;
        display:flex;
        color: #ebe6e6;
    }
    .button:hover{
        background-color: #8a8180;
    }

    .navLinks, .navLinks:visited{
        color: #ebe6e6;
        padding-left: 1.5em;
    }

    #container{
        display:block;
    }
    #aboutMeHeader{
        text-align: center;
        clear: both;
    }

    #name{
        color: khaki;
    }

    #aboutMe img{
        width: 500px;
        height: 700px;
        float: left; clear: left;
        padding-left:10em;
    }
    #aboutMe pre{
        float: right; clear: right;
        font-size: 20px;
        padding-right: 2em;
        padding-left: 1em;
        margin-left: 60px;
    }

    #aboutMe{
        display:block;
    }

    #pastProjectsHeader, currentProjectHeader{
        clear: both;
    }

    #navTable{
        padding-left: 47em;
    }

    #guidesForGamersImg{
        padding-left:10em;
        padding-top: 10em;
        width: 50em;
        height: 30em;
    }

    #resumeContainer{
        padding-left: 35em;
        padding-top: 5em;
        padding-bottom: 5em;
    }

 /* }  */
/* ======================MOBILE============================================= */
@media only screen and (max-width: 720px)
{
    body{ 
        background-color: rgb(112, 128, 144, .6);
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-family: 'Nunito Sans',sans-serif;
        font-size: 50px;
        color: khaki;
        font-weight: bold;
        text-align: center;
        background-image:url(./Resources/Images/panting-bushes_orig.jpg);
        background-position: bottom left, top center, bottom right;
        backGround-repeat: no-repeat;
        background-size: 400px, 1200px, 410px;
        clear: both;
        margin-top: 0px;
        
    }
    h2{
        text-align: center;
        font-size: 50px;
        font-family: 'Nunito Sans',sans-serif;
    }
    h3{
        padding-left: 40px;
        font-family: 'Nunito Sans',sans-serif;
    
    }
    
    video{
        padding-left: 10em;
        padding-top: 8em;
    }
    
    footer{
        clear: both;
        font-weight: 900;
        background-color: rgb(105, 105, 105, .8);
        padding-top: .5em;
        margin: 0em;
        padding-bottom:0em;
        padding-left: 0em;
    }
    pre{
        font-family: 'Faustina', serif;
        float: left; clear: left;
        font-size: 20px;
        text-align: left;
        padding-left: 10em;
        max-width: 800px;
    }
    .button{
        border: 4px solid #e3dddc;
        background-color: #a6a09f;
        height: 40px;
        width: 100px;
        align-items: center;
        display:flex;
        color: #ebe6e6;
    }
    .button:hover{
        background-color: #8a8180;
    }
    
    .navLinks, .navLinks:visited{
        color: #ebe6e6;
        padding-left: 1.5em;
    }
    
    #container{
        display:flex;
        flex-direction: column;
        align-items:center;
    }

    #Name{
        padding-left: 16em;
    }
    #aboutMeHeader{
        text-align: center;
        clear: both;
        padding-left: 3em;
    }
    
    #aboutMe img{
        width: 500px;
        height: 700px;
        float: left; clear: left;
        padding-left:7.5em;
    }
    #aboutMe pre{
        float: right; clear: right;
        font-size: 15px;
        padding-right: 2em;
        padding-left: 1em;
        margin-left: 60px;
    }
    
    #aboutMe{
        padding-left: 8.5em;
    }
    
    #pastProjectsHeader, currentProjectHeader{
        clear: both;
    }
    
    #navTable{
        padding-left: 18em;
    }
    
    #guidesForGamersImg{
        padding-left:10em;
        padding-top: 10em;
        width: 50em;
        height: 30em;
    }
    
    #resumeContainer{
        padding-left: 35em;
        padding-top: 5em;
        padding-bottom: 5em;
    }
}



