h1{
    font-family: 'Nunito Sans',sans-serif;
    font-size: 100px;
    color: khaki;
    font-weight: bold;
    text-align: center;
    background-image:url(./Resources/Images/WaterFall.jpg),url(./Resources/Images/panting-bushes_orig.jpg),url(./Resources/Images/WaterFall2.JPG);
    background-position: bottom left, top center, bottom right;
    backGround-repeat: no-repeat;
    background-size: 400px, 1200px, 410px;
    clear: both;
    
}

h2, h3{
    font-family: 'Nunito Sans',sans-serif;

}

footer{
    clear: both;
    font-weight: 900;
    background-color: rgb(105, 105, 105, .8);
    padding-top: .5em;
    margin-: 0em;
    padding-bottom:0em;
    padding-left: 0em;
}
pre{
    font-family: 'Faustina', serif;
    float: left; clear: left;
    font-size: 20px;
    text-align: left;
    padding-left: 140px;
    max-width: 800px;
}
#aboutMeHeader{
    text-align: center;
    clear: both;
}

#aboutMe img{
    width: 500px;
    height: 700px;
    float: left; clear: left;
    padding-left:10em;
}
#aboutMe pre{
    float: right; clear: right;
    font-size: 20px;
    padding-right: 4em;
    padding-left: 1em;
    margin-left: 60px;
}

#pastProjectsHeader, currentProjectHeader{
    clear: both;
}

h2{
    text-align: center;
    font-size: 50px;
}
h3{
    padding-left: 40px;
}

 video{
    float: right; clear: right;
    padding-right: 50px
    
}

